@import "bootstrap";
@import "font-awesome";

i {
  vertical-align: bottom;
}

#liked-like-button:not(:hover):after {
    content: "favorite";
}

#liked-like-button:hover:after {
    content: "favorite_border";
}

#unliked-like-button:not(:hover):after {
    content: "favorite_border";
}

#unliked-like-button:hover:after {
    content: "favorite";
}

.container-fluid {
    max-width: 680px;
}